<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<title>Ach Enviadas</title>

<head>
    <head th:replace="layout/layout :: head"> </head>
    <title>Ach Enviadas</title>
</head>

<body>

<header th:replace="layout/layout :: header"></header>

<div class="container col-md-6">
    <div class="card">
        <div class="card-header">
            <h3>Consulta de Transacciones ACH Enviadas</h3>
        </div>
    </div>

    <div class="card-body">
        <form th:action="@{/consultaachenviadas}" th:objet="${ach}" method="post">
            <div class="form-group">
                <div class="form-group">
                    <label>Ingrese Fecha Inicial</label>
                    <input type="date" th:field="${achEnviada.fechainicio}" th:value="${achEnviada.fechainicio}"
                           class="form-control">
                    <small class="form-text text-danger" th:if="${#fields.hasErrors('achEnviada.fechainicio')}"
                           th:errors="*{achEnviada.fechainicio}"></small>

                    <label>Ingrese Fecha Final</label>
                    <input type="date" th:field="${achEnviada.fechafin}" th:value="${achEnviada.fechafin}"
                           class="form-control">
                    <small class="form-text text-danger"  th:if="${#fields.hasErrors('achEnviada.fechafin')}"
                           th:errors="*{achEnviada.fechafin}"  ></small>


                    <label>Ingrese No. Cuenta</label>
                    <input type="text" th:field="${achEnviada.cuenta}" th:value="${achEnviada.cuenta}"
                           class="form-control">
                    <small class="form-text text-danger" th:if="${#fields.hasErrors('achEnviada.cuenta')}"
                           th:errors="*{achEnviada.cuenta}"></small>
                </div>

            </div>


            <button class="btn btn-primary" type="submit">Consultar</button>

        </form>

    </div>

</div>

<footer th:replace="layout/layout :: footer"></footer>


</body>
</html>