<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <head th:replace="layout/layout :: head"></head>
    <title>Consulta</title>
</head>

<body>

<header th:replace="layout/layout :: header"></header>

<div  class="container col-md-6">
    <div class="card">
        <div class="card-header">
            <h3>Consulta de Transacciones ACH</h3>
        </div>
    </div>
    <div class="card-body">
        <form th:action="@{/listataachenviadasall}" th:objet="${filtroconsulta}" method="post">

            <div class="form-group">
                <div class="form-group">
                    <label>Fecha Inicio</label>
                    <input type="date" th:field="${filtroconsulta.fecha}" th:value="${filtroconsulta.fecha}"  class="form-control">
                    <small class="form-text text-danger" th:if="${#fields.hasErrors('filtroconsulta.fecha')}" th:errors="*{filtroconsulta.fecha}"></small>
                </div>

            </div>

            <button class="btn btn-primary" type="submit">Consultar</button>

        </form>

    </div>

</div>


<footer th:replace="layout/layout :: footer"></footer>

</body>
</html>